@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


* {
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-saturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-dark-blue);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

main {
  background-color: rgb(51, 51, 22);
  width: 70rem;
  max-width: 90%;
  min-height: 65vh;
  display: flex;
  border-radius: 10px;
}

/* Card Styles */

.card {
  width: 50%;
  /* padding: 5% 14% 5% 7%; */
  padding: 52px 120px 45px 72
    px;
  background-color: var(--dark-saturated-blue);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Text Styles */
h1,
p {
  color: white;
}

h1 {
  font-weight: 700;
}

.heading {
  /* background-color: green; */
  padding: 10px 5px;
}

.heading span {
  color: var(--soft-violet);
}

.summary {
  /* background-color: red;   */
  font-size: 14px;
  line-height: 2;
  padding: 10px 5px;
  color: var(--slightly-transparent-white);
}

.stats {
  /* background-color: blue; */
  padding: 5px;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
}

.digits {
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 5px;

}

.digit-info {
  font-size: 13px;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--slightly-transparent-white);
}

/* Image Styles */
.business-image {
  width: 50%;
  border-radius: 10px;
  background-color: var(--soft-violet);
}

img {
  width: 100%;
  height: 100%;
  background-size: contain;
  border-radius: 0 10px 10px 0;
  opacity: 0.45;
}




/* Footer Styles */
footer {
  position: absolute;
  bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}





@media screen and (min-width:700px) and (max-width:1000px) {
  .card {
    padding: 40px 60px 45px 40px;
  }
}


@media screen and (max-width: 700px) {
  body {
    /* background-color: yellow; */
    padding: 30px 10px 40px;
    position: relative;
    /* justify-content: baseline; */
    /* align-items: baseline; */
  }

  main {
    background-color: rgb(51, 51, 22);
    max-width: 90vw;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    min-height: 600px;
    padding: 5px;
    background-color: var(--dark-saturated-blue);
    text-align: center;
    border-radius: 0 0 10px 10px;
  }

  /* Image Styles */
  .business-image {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-color: var(--soft-violet);
    border-radius: 10px 10px 0 0;
  }

  img {
    border-radius: 10px 10px 0 0;
    opacity: 0.45;
  }

  /* Text Styles */
  h1,
  p {
    color: white;
  }

  h1 {
    font-weight: 700;
  }

  .heading {
    /* background-color: green; */
    padding: 10px 30px;
  }

  .heading span {
    color: var(--soft-violet);
  }

  .summary {
    /* background-color: red; */
    font-size: 15px;
    line-height: 1.5;
    padding: 5px 35px 0px;
    color: var(--slightly-transparent-white);
  }

  .stats {
    /* background-color: blue; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }

  .digits {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 5px;

  }

  .digit-info {
    font-size: 13px;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--slightly-transparent-white);
  }

  /* Footer Styles */
  footer {
    position: absolute;
    bottom: 10px;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    color: white;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
    position: relative;
    bottom: 0;
  }

}
